[submodule "fiat-crypto"]
	path = curve25519-fiat/external/fiat-crypto
        url = https://github.com/mit-plv/fiat-crypto.git
        update = checkout
        fetchRecurseSubmodules = true
        ignore = untracked